.address__text {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 61px 70px;
  }
}

.address__invite {
  margin: 0;
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special_darkest_grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__information {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 20px;
  color: @special_light_grey;

  @media (min-width: @tablet-width) {
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }

  &--city {
    @media (min-width: @tablet-width) {
      margin-top: 20px;
    }
  }
}

.address__map {
  display: block;
}
