.container {
  width: @mobile-width;
  margin: 0  auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 110px;
  }

  &--main {
    overflow: hidden;
  }

  &--light {
    background-color: @basic_white;
  }

  &--secondary {
    background-color: @basic_grey;
  }

  &--navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 14px;

    @media (min-width: @tablet-width) {
      width: fit-content;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 94px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 0;
    }
  }

  &--form {
    @media (min-width: @tablet-width) {
      padding: 0 70px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 110px;
    }
  }

  &--form-general {
    gap: 14px;

    @media (min-width: @tablet-width) {
      gap: 20px;
    }
  }

  &--fieldset {
    gap: 14px;

    @media (min-width: @tablet-width) {
      padding: 0 70px;
      gap: 20px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 110px;
      flex-direction: row;
      gap: 80px;
    }
  }

  &--multichoice {
    gap: 13px;

    @media (min-width: @tablet-width) {
      padding: 0 70px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 32px;
      column-gap: 60px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 110px;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 80px;
    }
  }
}
