.control {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 16px;
  text-transform: uppercase;
  color: @special_light_grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &--choice {
    padding: 6px 0 6px 45px;

    @media (min-width: @tablet-width) {
      padding: 5px 0 5px 60px;
      min-height: 40px;
    }
  }

  &--with-decor {
    position: relative;
  }
}

.control__input {
  flex-grow: 1;
  margin: 0;
  padding: 14px 15px 13px 15px;
  height: 45px;
  border: 1px solid @special_white;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;
  appearance: textfield;

  @media (min-width: @tablet-width) {
    padding: 11px 20px;
    height: 52px;
  }

  &::placeholder {
    color: inherit;
  }

  &:hover {
    border-color: @special_grey;
  }

  &:hover:enabled + .control__mark {
    border-color: @choice-input-hover;
  }

  &:disabled ~ .control__mark,
  &:disabled ~ .control__text {
    opacity: 0.3;
  }

  &:focus {
    border-color: transparent;
    outline: 2px @special_light_grey solid;
  }

  &:invalid:not(:placeholder-shown) {
    border-color: transparent;
    outline: 2px @error-input solid;
  }

  &:checked + .control__mark {
    &--radio::before {
      content: "";
      position: absolute;
      width: 13px;
      height: 13px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: @basic_green;
      border-radius: 100%;

      @media (min-width: @tablet-width) {
        width: 18px;
        height: 18px;
      }
    }

    &--checkbox::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 26px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../img/tick.svg");
      background-repeat: no-repeat;

      @media (min-width: @tablet-width) {
        background-image: url("../img/tick-tablet.svg");
      }
    }
  }

  &--choice {
    flex-grow: 0;
    height: 30px;

    &:focus + .control__mark {
      outline: 2px @special_light_grey solid;
    }
  }

  &--with-decor {
    padding-right: 40px;

    &:focus + .control__decor {
      stroke: @basic_green;
    }

    &:invalid:not(:placeholder-shown) + .control__decor {
      stroke: @error-input;
    }
  }
}

.control__decor {
  position: absolute;
  stroke: @basic_black;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  &--phone {
    right: 13px;
  }

  @media (min-width: @tablet-width) {
    right: 14px;
  }

  @media (min-width: @desktop-width) {
    right: 16px;
  }
}

.control__mark {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: @basic_white;
  border: 1px @special_grey solid;

  &--radio {
    border-radius: 100%;
  }

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}
