.control {
  width: 100%;
  display: flex;
  gap: 13px;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #444444;

  &--choice {
    gap: 15px;
  }
}

.control__input {
  flex-grow: 1;
  margin: 0;
  padding: 14px 15px;
  padding-bottom: 13px;
  height: 45px;
  border: 1px solid #e7e7e7;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;

  &--choice {
    flex-grow: 0;
    height: 30px;
  }
}
