.control {
  width: 100%;
  display: flex;
  gap: 13px;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  color: @special_light_grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &--choice {
    gap: 15px;

    @media (min-width: @tablet-width) {
      gap: 20px;
    }
  }
}

.control__input {
  flex-grow: 1;
  margin: 0;
  padding: 14px 15px 13px 15px;
  height: 45px;
  border: 1px solid @special_white;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;

  @media (min-width: @tablet-width) {
    padding: 11px 20px;
    height: 52px;
  }

  &--choice {
    flex-grow: 0;
    height: 30px;
  }

  &--with-decor {
    background-repeat: no-repeat;
    background-position: top 12px right 12px;

    @media (min-width: @tablet-width) {
      background-position: top 15px right 13px;
    }

    @media (min-width: @desktop-width) {
      background-position: top 15px right 15px;
    }
  }

  &--email {
    background-image: url("../img/email-decor.png");
  }

  &--phone {
    background-image: url("../img/phone-decor.png");
  }
}
