.diet {
  margin: 20px 0;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 82px;
    margin-bottom: 71px;
  }
}

.diet__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: @tablet-width) {
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.diet__item {
  background-color: @basic_grey;
  padding: 30px 20px 22px 20px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    padding: 77px 52px 57px 52px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 59px;
    width: 50%;
  }

  &--slim {
    background-image: url("../img/cat-slim-icon.png");
    background-position: 20px 21px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-slim-icon@2X.png");
      background-size: 50px auto;
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/tablet-cat-slim-icon.png");
      background-position: top 81px right 63px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/tablet-cat-slim-icon@2X.png");
        background-size: 200px auto;
      }
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/desktop-cat-slim-icon.png");
      background-position: top 41px left 52px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/desktop-cat-slim-icon@2X.png");
        background-size: 100px auto;
      }
    }
  }

  &--pro {
    background-image: url("../img/cat-pro-icon.png");
    background-position: 13px 24px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-pro-icon@2X.png");
      background-size: 67px auto;
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/tablet-cat-pro-icon.png");
      background-position: top 91px right 29px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/tablet-cat-pro-icon@2X.png");
        background-size: 268px auto;
      }
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/desktop-cat-pro-icon.png");
      background-position: top 47px left 33px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/desktop-cat-pro-icon@2X.png");
        background-size: 134px auto;
      }
    }
  }
}

.diet__title {
  margin: 0 0 29px 70px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.diet__description {
  margin: 0 0 42px 0;
  font-family: "Lato", "Arial", sans-serif;
  color: @special_light_grey;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
    max-width: 340px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
    max-width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: -23px;
    left: 0;
    right: 0;
    background-color: @additional_grey;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.diet__link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    content: "";
    width: 32px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("../img/catalog-arrow-button.svg");
  }

  &:hover {
    &::after {
      background-image: url("../img/catalog-arrow-button-hover.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.diet__catalog-name {
  margin-right: 15px;
  max-width: 140px;

  @media (min-width: @tablet-width) {
    margin-right: 25px;
    max-width: 350px;
    min-height: 30px;
    display: flex;
    align-items: center;
  }
}
