.discounts {
  display: flex;
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.discounts__container {
  padding: 0;
  margin: 35px 0;
  min-height: 290px;
  background-image: url("../img/discounts-square.png"), url("../img/discounts-cat.jpg");
  background-repeat: no-repeat;
  background-color: @special_green;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/discounts-square.png"), url("../img/discounts-cat@2x.jpg");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    min-height: auto;
    flex-direction: row;
    gap: 264px;
    padding: 57px 77px;
    margin-top: 70px;
    margin-bottom: 75px;
    background-image: url("../img/tablet-discounts-square.png"), url("../img/tablet-discounts-cat.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet-discounts-square.png"), url("../img/tablet-discounts-cat@2x.jpg");
      background-size: 707px auto;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 56px 42px 43px 42px;
    flex-direction: column;
    gap: 46px;
    background-image: url("../img/desktop-discounts-square.png"), url("../img/desktop-discounts-cat.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/desktop-discounts-square.png"), url("../img/desktop-discounts-cat@2x.jpg");
      background-size: 245px auto;
    }
  }
}

.discounts__icon {
  margin-top: 59px;
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 80px;
    height: 83px;
  }
}

.discounts__description {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic_white;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}
