.navigation {
  position: absolute;
  z-index: 2;
  top: 65px;
  background-color: @basic_white;
  width: 100%;

  &--opened {
    display: block;
  }

  &--closed {
    display: none;
  }

  &--nojs {
    position: static;
    display: block;
  }

  @media (min-width: @tablet-width) {
    position: static;
    display: block;
    top: 0;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    gap: 33px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
    padding-right: 110px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    top: -1px;
    background-color: @lightest_navigation_grey;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.navigation__item {
  padding-top: 22px;
  padding-bottom: 24px;
  width: 100%;
  text-align: center;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0 0 10px 0;
    width: fit-content;
  }

  @media (min-width: @desktop-width) {
    // временные меры
    background-color: @basic_green;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @lightest_navigation_grey;

    @media (min-width: @tablet-width) {
      background-color: transparent;
    }
  }

  &--current {
    @media (min-width: @tablet-width) {
      position: relative;
    }

    &::after {
      @media (min-width: @tablet-width) {
        content: "";
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: @basic_green;
      }
    }
  }

  &--current-light {
    @media (min-width: @tablet-width) {
      position: relative;
    }

    &::after {
      @media (min-width: @tablet-width) {
        content: "";
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: @basic_green;
      }

      @media (min-width: @desktop-width) {
        background-color: @basic_white;
      }
    }
  }
}

.navigation__link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &--light {
    @media (min-width: @desktop-width) {
      color: @basic_white;
    }
  }
}
