.slider {
  display: flex;
  position: relative;
}

.slider__button {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
