.slider {
  display: flex;
  justify-content: center;
  background-color: @lightest_grey;

  @media (min-width: @tablet-width) {
    position: relative;
    height: 462px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin: 0 auto;
    height: 0;
  }
}

.slider__container {
  display: flex;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    position: absolute;
    padding-bottom: 0;
    bottom: 101px;
  }

  @media (min-width: @desktop-width) {
    bottom: 85px;
    right: 110px;
  }
}

.slider__picture {
  @media (min-width: @tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.slider__button {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
